@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

// @font-face {
//     font-family: 'Saira';
//     src: url('/fonts/Saira_Condensed/SairaCondensed-Regular.ttf') format('truetype'); 
// }

html, body, #root{
    font-family: 'PT Sans', sans-serif;
    font-family: 'Saira Condensed', sans-serif;
    height: 100vh !important;
    padding: 0;
    margin: 0;
    color: black;
    
}

.uppercase{
    text-transform: uppercase;
}

::-webkit-scrollbar {
    width: 10px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #e7e7e7;
    border-radius: 9em;
}


