.burger-button__circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .burger-button__circle input {
    display: flex;
    width: 60px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hide input */
    z-index: 2; /* top of the menu */
  }
  
  .burger-button__circle span{
    z-index: 1;
    width: 50%;
    height: 4px;
    margin-bottom: 5px;
    background: #424242;
    border-radius: 4px;
    -webkit-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    -moz-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    -ms-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    -o-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    transition: all .5s cubic-bezier(.08,.81,.87,.71);
  }

  .burger-button__circle span:last-child{
    margin-bottom: 0px;
  }
  
  #span1 {
    transform-origin: 4px 0px;
  }
  
  #span3 {
    transform-origin: bottom right;
  }
  
  .burger-button__circle input:checked ~ #span1 {
    background-color: #3a3a3a;
    transform: rotate(45deg) translate(5px);
    margin-top: 0px;
    margin-left: 3px;
  }

  .burger-button__circle input:checked ~ #span2 {
    background-color: #3a3a3a;
    transform: rotate(495deg) translate(0px);   
    margin-left: 3px;
  }

  .burger-button__circle input:checked ~ #span3 {
    background-color: #3a3a3a;
    transform: rotate(45deg);
    opacity: 0;
  }