.second-page{
    position: absolute;
    width: 100%;
    height: 100%;
}

.gallery{
    height: 100%;
    width: 100%;
}

.gallery__block{
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    height: 20rem;
    align-items: center;
    justify-content: center;
}

.gallery__block:first-child{
    margin-top: 0;
    padding-top: 3rem;
}

.gallery__block:last-child{
    padding-bottom: 3rem;
}

@media (min-width: 576px) {  }
@media (min-width: 768px) {  }
@media screen and (max-width: 1200px){
    .gallery__block{
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        height: fit-content;
        transition: 1s;
        margin: 5% auto 0 auto;
        margin-top: 0.1rem;
        width: 95%;
    }

    .gallery__card{
        margin-top: 1rem;
        width: 100% !important;
        background-color: white;
        padding: 1rem 2rem;
        height: 20rem !important;
        transition: 1s;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    .gallery__block{
        margin: 5% auto 0 auto;
        margin-top: 0.1rem;
        width: 65%;
    }

    .gallery__card{
        margin-top: 1.5rem;
        width: 100% !important;
        background-color: white;
        padding: 1rem 2rem;
        height: 20rem !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .gallery__block{
        width: 90%;
        margin: 5% auto 0 auto;
    }
}

@media screen and (min-width: 1400px){  
    .gallery__block{
        width: 70%;
        margin: 5% 10% 0 auto;
    }
 }


