
////////////////////////////////standartanimation

@mixin animation($name, $shiftDir, $shift, $height) {
    @keyframes #{$name} {
        from{
            box-shadow: 0px 0px 3px 3px #d5ceff;
            overflow: hidden;
        }
        25%{
        }
        50%{
            width: 75%;
            #{$shiftDir}: $shift;
            box-shadow: 0px 0px 5px 5px #bdb1ff;
        }
        99%{
            box-shadow: 0px 0px 1px 1px #bdb1ff;
            overflow-y: hidden;
        }
        to{
            #{$shiftDir}: $shift;
            width: 300%;
            height: $height;
            overflow-y: scroll;
            border-radius: 0px;
            box-shadow: none;
        }
    }
}

.gallery__block-active{
    transition: 0.5s;
}

.gallery__card-active{
    animation-fill-mode: forwards;
    animation-name: gallery__card_animation;
    animation-duration: 1.5s;
    width: 75%;
}

@media screen and (max-width: 1200px) {
    .gallery__block-active:first-child + .gallery__block{
        margin-top: 0;
    }

    .gallery__card-active{
        height: 30rem !important;
        animation-name: none;
        width: 65%;
        overflow-y: scroll;
    }
   
    .gallery__block-active:first-child .gallery__card-active{
        animation-name: none;
        width: 100%;
    }

    .gallery__card-active .gallery__content{
        height: fit-content;
    }
}


@media screen and (min-width: 1200px){
    @include animation(gallery__card_animation, margin-top, -55rem, 30rem);
    @include animation(gallery__card_animation-bottom, margin-bottom, -55rem, 30rem);

    .gallery__block-active{
        margin-top: 35rem;
    }

    .gallery__card-active .gallery__content{
        height: fit-content;
    }

    .gallery__block-active:first-child + .gallery__block{
        margin-top: 35rem;
        transition: 0.5s;
    }

    .gallery__block-active:first-child .gallery__card-active{
        animation-fill-mode: forwards;
        animation-name: gallery__card_animation-bottom;
        animation-duration: 1.5s;
        width: 75%;
    }
}
