.second-page{
    position: absolute;
    width: 100%;
    height: 100%;
}

.intro{
    width: 70%;
    height: 10%;
    margin: 5% auto 0 auto;
}

.intro__title{
    font-size: var(--xxl);
}

.gallery{
    height: 100%;
    width: 100%;
}

.gallery__block{
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    height: 30%;
    margin: 5% auto 0 auto;
    align-items: center;
    justify-content: center;
}

.gallery__block:first-child{
    margin-top: 1%;
}

.gallery__card{
    width: 95%;
    height: 100%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 7px;
    border: 1px solid #f1f1f1;
    padding: 1rem 2rem ;
}

.gallery__card:nth-child(1){
    justify-self: start;
}

.gallery__card:nth-child(2){
    justify-self: center;
}

.gallery__card:nth-child(3){
    justify-self: end;
}

.gallery__row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gallery__content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.gallery__taglist{
    font-size: var(--xxs);
    display: flex;
    flex-wrap: wrap;
    color: gray;
    width: 100%;
    margin-left: auto;
}

.gallery__tag{
}

.gallery__title{
    font-size: var(--l);
    width: 50%;
}

.gallery__subtitle{
    font-size: var(--xs);
    margin-top: 1rem;
    color: gray;
    width: 100%;
}

.gallery__text{
    font-size: var(--xs);
    margin-top: 1rem;
    width: 100%;
}

.gallery__text ul{
    list-style-type: square;
    padding-inline-start: 1.4rem;
}

.gallery__button{
    background-color: rgb(185, 185, 185);
    background-image: linear-gradient(156.44deg, #E3DEFF 1%, #beb5f797 100%, #bcb4ff2f 75%, #7569ff00 150%);
    letter-spacing: 0.2rem;
    padding: 0.7rem 0.5rem;
    cursor: pointer;
    border: none;
    margin-top: auto;
    transition:  0.5s;
    font-size: var(-xxs);
    color:rgb(41, 41, 41);
    font-weight: bold;
    width: 100%;
}

.gallery__button:hover{
    background-color: rgb(255, 159, 255);
    box-shadow: 0 0 1px 1px #d2cbff;
}

.gallery__close{
    margin-left: auto;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

///
// 576
// 768
// 992
// 1200
// 1400
///

@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }
@media screen and (max-width: 992px){
    .gallery__block{
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        height: fit-content;
        transition: 1s;
        margin-top: 0.1rem;
    }

    .gallery__card{
        margin-top: 1rem;
        width: 100%;
        background-color: white;
        padding: 1rem 2rem ;
    }

    .gallery__block-inactive .gallery__card-inactive:nth-child(1){
        grid-area: first_card;
        justify-self: start;
    }
    
    .gallery__block-inactive .gallery__card-inactive:nth-child(2){
        grid-area: second_card;
        justify-self: start;
    }
    
    .gallery__block-inactive .gallery__card-inactive:nth-child(3){
        grid-area: third_card;
        justify-self: start;
    }

}

// Large devices (desktops, 992px and up)
@media screen and (min-width: 992px) and (max-width: 1200px){
    .gallery__block{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "first_card second_card"
            "third_card third_card";
        width: 70%;
        height: 60%;
        margin: 5% auto 0 auto;
        align-items: center;
        justify-content: center;
        transition: 1s;
    }

    .gallery__card{
        width: 95%;
        height: 95%;
        box-sizing: border-box;
        background-color: white;
        border-radius: 7px;
        border: 1px solid #f1f1f1;
        padding: 1rem 2rem ;
    }
    
    .gallery__block-inactive .gallery__card-inactive:nth-child(1){
        grid-area: first_card;
        justify-self: start;
    }
    
    .gallery__block-inactive .gallery__card-inactive:nth-child(2){
        grid-area: second_card;
        justify-self: end;
    }
    
    .gallery__block-inactive .gallery__card-inactive:nth-child(3){
        grid-area: third_card;
        width: 100%;
        justify-self: start;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }


